# Dependencies
node_modules/

# Build output
/dist/
/.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.local

# Tests & coverage
coverage/

# Env files
.env
.env.*
!.env.example

# Cache
.cache/
.parcel-cache/
.eslintcache
.turbo/

# Misc
*.tsbuildinfo
